# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Docker artifacts
*.log
*.pid
*.db
*.tar
*.gz
*.img
*.container

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment files
.env
*.env

# VS Code settings
.vscode/

# Python virtual environments
venv/
ENV/